@import './function';
@import './variables';

body {
    main {
        position: relative;
        
        h1{
            text-align: center;
        }

        .construction-header {
            margin-top: 60px;
            position: relative;

            img {
                width: 100%;
                height: 400px;
                object-fit: cover;
                filter: brightness(70%);
            }

            h1 {
                font-size: 3rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                color: white;

                @include responsive("small") {
                    font-size: 3rem;
                }
            }
        }

        .construction-about {
            position: relative;
            margin-top: 100px;

            h1 {
                font-size: 9rem;
                color: gainsboro;
                text-align: center;

                @include responsive("small") {
                    font-size: 3.1rem;
                }

                @include responsive("medium") {
                    font-size: 5rem;
                }

                @include responsive("tablet") {
                    font-size: 6rem;
                }
            }

            .text-anime {
                font-size: 3.5rem;
                position: absolute;
                top: 34%;
                left: 50%;
                transform: translateX(-50%) translateY(50px);
                opacity: 0;

                @include responsive("small") {
                    font-size: 2rem;
                    width: 100%;
                    text-align: center;
                    top: 20%;
                }

                @include responsive("medium") {
                    font-size: 3rem;
                    top: 25%;
                }

                @include responsive("tablet") {
                    font-size: 3rem;
                    top: 25%;
                }

                &.active {
                    opacity: 1;
                    transform: translateY(0) translateX(-50%);
                    transition: opacity 1.5s, transform 0.8s;
                }
            }


        }

        .sub-title {
            width: 70%;
            margin: auto;
            border-bottom: 4px solid rgb(3, 148, 3);

            h1 {
                text-align: center;
                font-size: 1.5rem;
            }
        }

        .const-content{
            display: flex;
            justify-content: space-around;
            position: relative;
            z-index: -10;

            @include responsive("small") {
                flex-direction: column;
            }
            
            .slider {
                position: relative;
                margin: 50px 50px;
                width: 100%;
                max-width: 600px;
                height: 400px;


                h1{
                    text-align: center;
                }

                @include responsive("small") {
                    height: 400px;
                    width: 90%;
                    margin: 50px auto;
                }

                .slides {
                    display: flex;
                    transition: transform 0.5s ease-in-out;

                    .slide {
                        min-width: 100%;
                        box-sizing: border-box;
                        position: relative;
                        height: 100%;

                        @include responsive("small") {
                            height: 400px;

                        }

                        .slide-text {
                            position: relative;
                            width: 100%;
                            height: 100px;
                            font-size: 1.2rem;
                            position: absolute;
                            bottom: 0;
                            margin: auto;
                            z-index: 100;
                            color: white;
                            background: rgba(0, 0, 0, 0.5);

                            .slide-text-content {
                                width: 100%;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);

                                .title {
                                    font-size: 1.35em;

                                    @include responsive("small") {
                                        font-size: 1.2rem;
                                    }
                                }

                                p {
                                    text-align: center;

                                    @include responsive("small") {
                                        font-size: 1rem;
                                    }
                                }
                            }
                        }

                        img {
                            width: 100%;
                            height: 400px;
                            display: block;
                            object-fit: cover;
                        }
                    }
                }

                .arrow-btn {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: transparent;
                    color: white;
                    border: none;
                    width: 50px;
                    height: 50px;
                    cursor: pointer;
                    z-index: 1000;

                    &::before {
                        content: '';
                        display: inline-block;
                        border: solid white;
                        border-width: 0 3px 3px 0;
                        padding: 10px;
                    }

                    &.prev {
                        left: 10px;

                        &::before {
                            transform: rotate(135deg);
                        }
                    }

                    &.next {
                        right: 10px;

                        &::before {
                            transform: rotate(-45deg);
                        }
                    }
                }

            }
        }

    }
}