@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");
body main {
  position: relative;
  background-color: beige;
  overflow-y: hidden;
}
body main .gradient .gallery {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  position: relative;
}
body main .gradient .gallery .row {
  display: flex;
}
body main .gradient .gallery img {
  width: 20%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(90%);
}
@media only screen and (max-width: 480px) {
  body main .gradient .gallery img {
    width: 35%;
    height: 150px;
  }
}
body main .gradient .gallery h1 {
  font-size: 8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
@media only screen and (max-width: 480px) {
  body main .gradient .gallery h1 {
    font-size: 3rem;
  }
}
body main .gradient .gallery section {
  width: 800px;
  margin: auto;
  margin-top: 200px;
  position: absolute;
  background-color: rgb(220, 201, 126);
  bottom: -15%;
  left: 0;
  border-left: 20px solid rgb(8, 157, 8);
}
@media only screen and (max-width: 480px) {
  body main .gradient .gallery section {
    width: 90%;
    height: 100px;
    border-left: 10px solid rgb(8, 157, 8);
  }
}
body main .gradient .gallery section .lunch-sub {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 100;
  position: relative;
  z-index: 10;
  margin-top: 20px;
}
@media only screen and (max-width: 480px) {
  body main .gradient .gallery section .lunch-sub {
    font-size: 1.3rem;
    width: 90%;
    margin: 20px auto;
  }
}
body main .gradient .gallery section p {
  padding: 10px 0 20px 0;
  font-size: 1.2rem;
  width: 80%;
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 10;
}
@media only screen and (max-width: 480px) {
  body main .gradient .gallery section p {
    display: none;
  }
}
body main .gradient .menu {
  margin-top: 150px;
}
@media only screen and (max-width: 480px) {
  body main .gradient .menu {
    margin: 70px auto;
  }
}
body main .gradient .menu h1 {
  font-size: 3rem;
  text-align: center;
  margin: 0 autos;
}
body main .gradient .menu .line {
  width: 500px;
  border: 2px solid rgb(220, 201, 126);
  margin: 0 auto 50px;
}
body main .gradient .menu .menu-content {
  margin: auto;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 480px) {
  body main .gradient .menu .menu-content {
    flex-direction: column;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  body main .gradient .menu .menu-content {
    flex-direction: column;
  }
}
body main .gradient .menu .menu-content .menu-list {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  position: relative;
}
@media (max-width: 1024px) {
  body main .gradient .menu .menu-content .menu-list {
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  body main .gradient .menu .menu-content .menu-list {
    flex-direction: column;
  }
}
body main .gradient .menu .menu-content .menu-list .menu-list-text {
  margin: 10px auto;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  body main .gradient .menu .menu-content .menu-list .menu-list-text {
    width: 80%;
    margin-top: 20px;
  }
}
@media (max-width: 1024px) {
  body main .gradient .menu .menu-content .menu-list .menu-list-text {
    margin-top: 20px;
  }
}
body main .gradient .menu .menu-content .menu-list .menu-list-text h2 {
  width: 100%;
  font-size: 1.5rem;
  text-align: left;
}
@media (max-width: 1024px) {
  body main .gradient .menu .menu-content .menu-list .menu-list-text h2 {
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  body main .gradient .menu .menu-content .menu-list .menu-list-text h2 {
    text-align: center;
  }
}
body main .gradient .menu .menu-content .menu-list .menu-list-text p {
  font-size: 1.2rem;
  text-align: left;
}
@media (max-width: 1024px) {
  body main .gradient .menu .menu-content .menu-list .menu-list-text p {
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  body main .gradient .menu .menu-content .menu-list .menu-list-text p {
    text-align: center;
  }
}
body main .gradient .menu .menu-content .menu-list .photo {
  width: 100%;
  max-width: 500px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  opacity: 0;
  border: 10px solid white;
  box-shadow: 5px 5px 10px gray;
}
@media only screen and (max-width: 480px) {
  body main .gradient .menu .menu-content .menu-list .photo {
    width: 90%;
    height: 350px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1300px) {
  body main .gradient .menu .menu-content .menu-list .photo {
    height: 350px;
  }
}
body main .gradient .menu .menu-content .menu-list .photo.visible {
  opacity: 1;
  transform: translateY(0);
}
body main footer {
  background-color: beige;
}/*# sourceMappingURL=lunch.css.map */