$transition-duration: 0.6s;
$transition-ease: ease-out;
@import './function';
@import './variables';

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');


body {



    .recruit-header {
        position: relative;
        height: 100vh;

        img {
            position: fixed;
            width: 100%;
            height: 100vh;
            object-fit: cover;
            filter: brightness(70%);
        }

        .rec-title {
            font-size: 8rem;
            width: 100%;
            font-family: "Noto Serif JP", serif;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: fixed;
            text-align: center;
            color: white;

            span {
                opacity: 0;
                display: inline-block;
                transition: opacity 0.5s;

                &.visible {
                    opacity: 1;
                }
            }

            @include responsive("small") {
                font-size: 2.5rem;
            }

            @include responsive("medium") {
                font-size: 4rem;
            }

            @include responsive("desktop") {
                font-size: 4.7rem;
            }
        }


        .recruit-text {
            position: fixed;

            p {
                font-family: "Noto Serif JP", serif;
                color: white;
                font-size: 1.5rem;
                width: 80%;
                position: absolute;
                top: 55%;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                position: fixed;

                span {
                    opacity: 0;
                    display: inline-block;
                    transition: opacity 0.3s;

                    &.visible {

                        opacity: 1;
                    }
                }

                @include responsive("small") {
                    font-size: 1rem;
                    top: 55%;
                }

                @include responsive("medium") {
                    width: 60%;
                    font-size: 1.2rem;
                    bottom: 5%;
                }

                @include responsive("tablet") {
                    width: 60%;
                    font-size: 1.2rem;
                    bottom: 5%;
                }

                @include responsive("desktop") {
                    width: 75%;
                    font-size: 1.2rem;
                    bottom: 5%;
                }
            }

        }

        .cp_arrows {

            *,
            *:before,
            *:after {
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }

            position: relative;
            display: flex;
            height: 200px; // 画面いっぱいにする場合100vh
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom:5%;
            left: 46%;
            position: fixed;

            .cp_arrow {
                position: absolute;
                top: 50%; // 着地点（サンプルは[class:cp_arrows]height300pxの50%）
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
                opacity: 0;

                &.cp_arrowfirst {
                    -webkit-animation: arrow-move08 2s ease-in-out infinite;
                    animation: arrow-move08 2s ease-in-out infinite;
                }

                &.cp_arrowsecond {
                    -webkit-animation: arrow-move08 2s 1s ease-in-out infinite;
                    animation: arrow-move08 2s 1s ease-in-out infinite;
                }

                &:before,
                &:after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 50px;
                    height: 5px;
                    content: '';
                    background: white;
                }

                &:before {
                    -webkit-transform: rotate(30deg) translateX(-39%);
                    transform: rotate(30deg) translateX(-39%);
                    -webkit-transform-origin: top left;
                    transform-origin: top left;
                }

                &:after {
                    -webkit-transform: rotate(-30deg) translateX(39%);
                    transform: rotate(-30deg) translateX(39%);
                    -webkit-transform-origin: top right;
                    transform-origin: top right;
                }
            }

            @-webkit-keyframes arrow-move08 {
                0% {
                    top: 40%; // スタート地点（サンプルは[class:cp_arrows]height300pxの35%）
                    opacity: 0;
                }

                70% {
                    opacity: 1;
                }

                100% {
                    opacity: 0;
                }
            }

            @keyframes arrow-move08 {
                0% {
                    top: 40%; // スタート地点（サンプルは[class:cp_arrows]height300pxの35%）
                    opacity: 0;
                }

                70% {
                    opacity: 1;
                }

                100% {
                    opacity: 0;
                }
            }
        }
    }

    main {
        border-top: 1px solid gainsboro;

        .work-title {
            position: relative;

            h1 {
                font-size: 8rem;
                text-align: center;
                margin: 100px 0;
                color: gainsboro;

                @include responsive("small") {
                    font-size: 3rem;
                }
            }

            .text-anime {
                font-size: 4rem;
                position: absolute;
                top: 27%;
                left: 50%;
                transform: translateX(-50%) translateY(50px);
                opacity: 0;

                @include responsive("small") {
                    font-size: 3rem;
                    width: 100%;
                    text-align: center;
                }

                &.active {
                    opacity: 1;
                    transform: translateY(0) translateX(-50%);
                    transition: opacity 1.5s, transform 0.8s;
                }
            }
        }

        .work-info {
            position: relative;
            display: flex;
            margin: 0;

            @include responsive("small") {
                flex-direction: column;
                margin-bottom: 0;
            }

            .work-info-content {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: auto;
                margin-bottom: 100px;

                @include responsive("small") {
                    margin-bottom: 50px;
                }

                .photo {
                    display: block;
                    width: 70%;
                    height: auto;
                    max-height: 400px;
                    object-fit: cover;
                    margin: auto;
                    border-radius: 15px;
                    opacity: 0;
                    transform: translateY(100px);
                    transition: opacity 0.6s ease-out, transform 0.6s ease-out;

                    @include responsive("small") {
                        width: 80%;
                    }

                    &.visible {
                        opacity: 1;
                        transform: translateY(0);
                    }


                }

                h2 {
                    font-size: 1.7rem;
                    text-align: center;
                    margin: 30px 0;

                }

                p {
                    font-size: 1.2rem;
                    text-align: center;
                    width: 70%;
                    margin: auto;
                }
            }
        }

        .rec-info {
            z-index: 1000;
            margin-bottom: 100px;

            h2 {
                font-size: 2.5rem;
                text-align: center;
                margin: 50px 0;
            }

            table {
                border-collapse: collapse;
                width: 80%;
                margin: 0 auto;
                font-size: 1.1rem;

                @include responsive("small") {
                    width: 95%;
                }

                th,
                td {
                    border: 2px solid rgb(34, 152, 34);
                    padding: 8px;
                    text-align: left;
                }

                .td-title {
                    width: 30%;
                    text-align: center;
                }
            }
        }

        // Colours
        $green: rgb(5, 180, 5);
        $red: #AD4747;
        $blue: #4784AD;

        .contact {
            font-size: 3rem;
            text-align: center;
        }

        form {
            width: 50%;
            min-width: 9rem;
            margin: auto;
            margin-bottom: 100px;

            @include responsive("small") {
                width: 300px;
            }
        }

        input,
        textarea {
            width: 100%;
            max-width: 100%;
            border: none;
            margin: 0.5rem 0;
            padding: 0.5rem 1rem;
            border-radius: 0.3rem;
            background: darken(#ffffff, 10%);
            color: darken(#f9f9f9, 50%);

            &[type=submit] {
                background: $green;
                color: #fff;
                width: auto;
                float: right;
                cursor: pointer;

                &:hover {
                    color: gainsboro;
                }
            }

            &::placeholder {
                color: darken(#f9f9f9, 50%);
            }

            &.error {
                background: $red;
                color: #fff;

                &::placeholder {
                    color: darken($red, 60%);
                }
            }
        }

        textarea {
            height: 10rem;
        }

        .captcha {
            float: left;

            input {
                float: right;
            }

            input[name=question] {
                width: 4rem;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                text-align: right;
                padding-right: 0;
            }

            [name=captcha] {
                width: 5rem;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                padding-left: 0.5rem;

                &::placeholder {
                    text-align: center;
                }
            }
        }

        @font-face {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
        }


    }
}