@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  overscroll-behavior: none;
}
body header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background: white;
  width: 100%;
  z-index: 100;
}
body header img {
  width: 300px;
  height: auto;
}
@media only screen and (max-width: 480px) {
  body header img {
    width: 200px;
  }
}
body header #nav1 ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
}
body header #nav1 ul li {
  list-style: none;
  padding: 0 30px;
}
body header #nav1 ul li a {
  text-decoration: none;
  color: rgb(3, 148, 3);
  font-size: 1.2rem;
}
body header #nav1 ul li a:hover {
  color: gainsboro;
}
body header #burger {
  cursor: pointer;
  z-index: 100;
  margin-right: 5%;
}
body header #burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.5s ease-in-out;
}
body header .toggle .line1 {
  transform: rotate(-405deg) translate(-5px, 6px);
}
body header .toggle .line2 {
  opacity: 0;
}
body header .toggle .line3 {
  transform: rotate(405deg) translate(-5px, -6px);
}
body header #nav2 {
  display: none;
}
@media only screen and (max-width: 1200px) {
  body header #nav2 {
    display: block;
    position: absolute;
    right: 0;
    height: 100dvh;
    top: 0;
    flex-direction: column;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
}
@media only screen and (max-width: 1200px) and (max-width: 480px) {
  body header #nav2 {
    width: 100%;
  }
}
@media only screen and (max-width: 1200px) {
  body header #nav2 ul {
    height: 100dvh;
  }
  body header #nav2 ul li {
    position: relative;
    list-style: none;
    height: 16%;
  }
  body header #nav2 ul li a {
    font-size: 25px;
    text-decoration: none;
    color: rgb(5, 180, 5);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  body header #nav2 ul li a:hover {
    color: gainsboro;
  }
  body header #nav2.nav-active {
    transform: translateX(0%) !important;
    opacity: 1;
    transition-delay: 0.1s;
  }
  body header #nav2.nav-active ul li {
    padding: 50px 20px;
  }
  body header #nav2.nav-active a {
    opacity: 1;
    transition-delay: 0.2s;
  }
}
body .slider {
  z-index: -1;
  height: 100dvh;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
body .slider .slider-item01 {
  background: url(../imges/view/S__160849972.jpg);
}
body .slider .slider-item02 {
  background: url(../imges/view/view3before.jpg);
}
body .slider .slider-item03 {
  background: url(../imges/view/S__160849976.jpg);
}
body .slider .slider-item04 {
  background: url(../imges/view/hatake.jpg);
}
body .slider .slider-item {
  width: 100%;
  height: 100dvh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  filter: brightness(70%);
}
body .overlay .overlay-p {
  color: white;
  position: absolute;
  left: 50%;
  width: 85%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  top: 35%;
  position: fixed;
}
@media only screen and (max-width: 480px) {
  body .overlay .overlay-p {
    font-size: 1rem;
    top: 150px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  body .overlay .overlay-p {
    top: 400px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  body .overlay .overlay-p {
    top: 25%;
  }
}
@media (max-height: 668px) {
  body .overlay .overlay-p {
    top: 120px;
  }
}
body .overlay h1 {
  font-size: 2.5rem;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  position: fixed;
  width: 85%;
}
@media only screen and (max-width: 480px) {
  body .overlay h1 {
    font-size: 25px;
    top: 450px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  body .overlay h1 {
    font-size: 30px;
  }
}
@media (max-height: 668px) {
  body .overlay h1 {
    top: 400px;
  }
}
body .overlay .overlay-p2 {
  font-size: 1.2rem;
  color: white;
  position: absolute;
  top: 75%;
  left: 50%;
  width: 85%;
  position: fixed;
  transform: translateX(-50%);
}
@media only screen and (max-width: 480px) {
  body .overlay .overlay-p2 {
    font-size: 20px;
    top: 600px;
  }
}
@media (max-height: 668px) {
  body .overlay .overlay-p2 {
    top: 525px;
  }
}
body main {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
}
body main .news {
  display: flex;
  justify-content: left;
  margin-left: 5%;
  margin-top: 100px;
  margin-bottom: 50px;
  position: relative;
  width: 100%;
}
@media only screen and (max-width: 480px) {
  body main .news {
    flex-direction: column;
  }
}
body main .news .news-content {
  margin-right: 50px;
}
body main .news .news-content h2 {
  font-size: 3rem;
}
@media only screen and (max-width: 480px) {
  body main .news .news-content h2 {
    font-size: 40px;
    text-align: center;
  }
}
body main .news .news-content h2.active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1.5s, transform 0.8s;
}
body main .news .news-content p {
  font-size: 1.5rem;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  body main .news .news-content p {
    font-size: 1rem;
  }
}
body main .news .news-content .news-button {
  display: block;
  padding: 20px 30px;
  background: white;
  border: 1px solid gray;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 1rem;
  text-decoration: none;
  color: black;
  text-align: center;
}
body main .news .news-content .news-button:hover {
  color: gainsboro;
}
body main .news #news-ticker-container {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid gainsboro;
  padding: 40px 20px;
  height: 40px;
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 480px) {
  body main .news #news-ticker-container {
    margin: auto;
    width: 90%;
    margin-left: 0;
  }
}
body main .news #news-ticker-container #news-ticker {
  font-size: 1.1rem;
  position: absolute;
  transition: 1.5s ease-in-out;
  width: 100%;
}
@media only screen and (max-width: 480px) {
  body main .news #news-ticker-container #news-ticker {
    width: 85%;
    font-size: 1rem;
  }
}
body main .news #news-ticker-container #controls {
  position: absolute;
  right: 0;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 0 20px;
}
body main .news #news-ticker-container #controls button {
  height: 40px;
  line-height: 30px;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  color: black;
}
@keyframes slide-up {
  from {
    transform: translateY(100%);
    /* アニメーション開始時、要素を下（Y軸方向）に100%移動 */
  }
  to {
    transform: translateY(0);
    /* アニメーション終了時、要素の位置を初期状態（Y軸方向0%）に戻す */
  }
}
body main .message {
  background-size: cover;
  background-repeat: no-repeat;
  height: 60dvh;
}
@media only screen and (max-width: 480px) {
  body main .message {
    height: 40dvh;
    margin-bottom: 100px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  body main .message {
    margin-bottom: 50px;
  }
}
body main .message .message-container {
  position: relative;
  width: 100%;
}
body main .message .message-container .text-anime {
  font-size: 9rem;
  font-weight: 500;
  color: rgb(3, 148, 3);
  text-align: center;
  opacity: 0;
  transform: translateY(70px);
}
@media only screen and (max-width: 480px) {
  body main .message .message-container .text-anime {
    font-size: 4.5rem;
  }
}
body main .message .message-container .text-anime.active {
  opacity: 0.8;
  transform: translateY(20px);
  transition: opacity 1.5s, transform 0.8s;
}
body main .message p {
  font-size: 1.3rem;
  text-align: left;
  width: 70%;
  max-width: 500px;
  margin: auto;
  line-height: 40px;
  color: black;
  margin-top: 30px;
}
@media only screen and (max-width: 480px) {
  body main .message p {
    font-size: 1rem;
    width: 70%;
  }
}
body main .continue-slider {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 50px;
  animation: loop-slide 20s infinite linear 1s both;
}
@media screen and (max-width: 480px) {
  body main .continue-slider {
    -o-object-fit: cover;
       object-fit: cover;
    height: 200px;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  body main .continue-slider {
    margin-top: -100px;
  }
}
body main .continue-slider .slider-wrap {
  display: flex;
  overflow: hidden;
}
body main .continue-slider .slider-wrap .slider-infinity {
  display: flex;
  list-style: none;
  padding: 0;
}
body main .continue-slider .slider-wrap .slider-infinity .slider-infinity-item {
  width: 50vw;
}
body main .continue-slider .slider-wrap .slider-infinity .slider-infinity-item img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .continue-slider .slider-wrap .slider-infinity-left {
  animation: infinity-scroll-left 60s infinite linear 0.5s both;
}
@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
body main .feature {
  position: relative;
}
body main .feature .strong-point {
  position: relative;
}
body main .feature .strong-point h2 {
  font-size: 8rem;
  font-weight: 500;
  text-align: center;
  color: gainsboro;
  padding-top: 50px;
}
@media only screen and (max-width: 480px) {
  body main .feature .strong-point h2 {
    font-size: 4rem;
  }
}
body main .feature .strong-point .text-anime {
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
@media only screen and (max-width: 480px) {
  body main .feature .strong-point .text-anime {
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    top: 53%;
  }
}
body main .feature .strong-point .text-anime.active {
  opacity: 1;
  transform: translateY(-20%) translateX(-50%);
  transition: opacity 1.5s, transform 0.8s;
}
body main .feature .feature-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  margin-top: 75px;
}
@media only screen and (max-width: 480px) {
  body main .feature .feature-flex {
    flex-direction: column;
  }
}
body main .feature .feature-flex .feature-content {
  width: 100%;
  max-width: 500px;
  position: relative;
}
body main .feature .feature-flex .feature-content .photo {
  width: 100%;
  height: 500px;
  margin-left: 15%;
  opacity: 0;
  transform: translateY(100px);
  -o-object-fit: cover;
     object-fit: cover;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
@media only screen and (max-width: 480px) {
  body main .feature .feature-flex .feature-content .photo {
    display: block;
    margin: 0 auto;
    width: 350px;
    height: 400px;
  }
}
body main .feature .feature-flex .feature-content .photo.visible {
  opacity: 1;
  transform: translateY(0);
}
body main .feature .feature-flex .feature-content .text-anime {
  position: absolute;
  top: -15%;
  left: 30%;
  color: rgb(5, 180, 5);
  font-size: 7rem;
  font-weight: 500;
  opacity: 0;
  transform: translateY(30%);
  z-index: 100;
}
@media only screen and (max-width: 480px) {
  body main .feature .feature-flex .feature-content .text-anime {
    font-size: 5rem;
    top: -15%;
    left: 10%;
    z-index: 100;
  }
}
body main .feature .feature-flex .feature-content .text-anime.active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1.5s, transform 0.8s;
}
body main .feature .feature-flex .feature-text {
  font-size: 1.5rem;
  width: 100%;
  margin: auto;
  margin-left: 10%;
}
@media only screen and (max-width: 480px) {
  body main .feature .feature-flex .feature-text {
    margin: auto;
    margin-top: 30px;
  }
}
body main .feature .feature-flex .feature-text .text-anime {
  text-align: center;
  margin-bottom: 20px;
  transform: translateY(50px);
  opacity: 0;
}
@media only screen and (max-width: 480px) {
  body main .feature .feature-flex .feature-text .text-anime {
    font-size: 1.3rem;
  }
}
body main .feature .feature-flex .feature-text .text-anime.active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1.5s, transform 0.8s;
}
body main .feature .feature-flex .feature-text p {
  width: 80%;
  margin: auto;
  line-height: 30px;
}
body main .feature .feature-flex02 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  margin-top: 75px;
}
@media only screen and (max-width: 480px) {
  body main .feature .feature-flex02 {
    display: none;
  }
}
body main .feature .feature-flex02 .feature-content02 {
  width: 100%;
  max-width: 500px;
  position: relative;
}
body main .feature .feature-flex02 .feature-content02 .photo {
  width: 100%;
  height: 500px;
  margin-left: -15%;
  opacity: 0;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translateY(100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
body main .feature .feature-flex02 .feature-content02 .photo.visible {
  opacity: 1;
  transform: translateY(0);
}
body main .feature .feature-flex02 .feature-content02 .text-anime {
  position: absolute;
  top: -15%;
  right: 30%;
  color: rgb(5, 180, 5);
  font-size: 7rem;
  font-weight: 500;
  opacity: 0;
  transform: translateY(30%);
}
body main .feature .feature-flex02 .feature-content02 .text-anime.active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1.5s, transform 0.8s;
}
body main .feature .feature-flex02 .feature-text02 {
  font-size: 1.5rem;
  width: 100%;
  margin: auto;
  margin-right: 10%;
}
body main .feature .feature-flex02 .feature-text02 .text-anime {
  text-align: center;
  margin-bottom: 20px;
  transform: translateY(50px);
  opacity: 0;
}
body main .feature .feature-flex02 .feature-text02 .text-anime.active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1.5s, transform 0.8s;
}
body main .feature .feature-flex02 .feature-text02 p {
  width: 80%;
  margin: auto;
  line-height: 30px;
}
body main .feature .feature-flex02-copy {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  margin-top: 75px;
  display: none;
}
@media only screen and (max-width: 480px) {
  body main .feature .feature-flex02-copy {
    flex-direction: column;
  }
}
body main .feature .feature-flex02-copy .feature-content02 {
  width: 100%;
  max-width: 500px;
  position: relative;
}
body main .feature .feature-flex02-copy .feature-content02 .photo {
  width: 100%;
  height: 500px;
  margin-left: -15%;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
@media only screen and (max-width: 480px) {
  body main .feature .feature-flex02-copy .feature-content02 .photo {
    display: block;
    margin: 0 auto;
    width: 350px;
    height: 400px;
  }
}
body main .feature .feature-flex02-copy .feature-content02 .photo.visible {
  opacity: 1;
  transform: translateY(0);
}
body main .feature .feature-flex02-copy .feature-content02 .text-anime {
  position: absolute;
  top: -15%;
  right: 30%;
  color: rgb(5, 180, 5);
  font-size: 7rem;
  font-weight: 500;
  opacity: 0;
  transform: translateY(30%);
}
@media only screen and (max-width: 480px) {
  body main .feature .feature-flex02-copy .feature-content02 .text-anime {
    font-size: 5rem;
    top: -15%;
    left: 10%;
    z-index: 100;
  }
}
body main .feature .feature-flex02-copy .feature-content02 .text-anime.active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1.5s, transform 0.8s;
}
body main .feature .feature-flex02-copy .feature-text02 {
  font-size: 1.1rem;
  width: 100%;
  margin: auto;
  margin-right: 10%;
}
@media only screen and (max-width: 480px) {
  body main .feature .feature-flex02-copy .feature-text02 {
    margin: auto;
    margin-top: 30px;
  }
}
body main .feature .feature-flex02-copy .feature-text02 .text-anime {
  text-align: center;
  margin-bottom: 20px;
  transform: translateY(50px);
  opacity: 0;
}
@media only screen and (max-width: 480px) {
  body main .feature .feature-flex02-copy .feature-text02 .text-anime {
    font-size: 1.3rem;
  }
}
body main .feature .feature-flex02-copy .feature-text02 .text-anime.active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1.5s, transform 0.8s;
}
body main .feature .feature-flex02-copy .feature-text02 p {
  width: 80%;
  margin: auto;
  line-height: 30px;
}
body main .float {
  position: relative;
  height: 100%;
}
body main .float .green-area {
  width: 40%;
  height: 500px;
  background: rgb(0, 144, 0);
  position: absolute;
  left: 0;
  z-index: -1;
}
body main .float .gray-area {
  z-index: -1;
  width: 40%;
  height: 600px;
  background: rgb(195, 195, 195);
  position: absolute;
  right: 0;
  margin-top: 250px;
}
body main .introduce {
  position: relative;
}
body main .introduce h2 {
  font-size: 8rem;
  text-align: center;
  color: gainsboro;
}
@media only screen and (max-width: 480px) {
  body main .introduce h2 {
    font-size: 4rem;
  }
}
body main .introduce .text-anime {
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
@media only screen and (max-width: 480px) {
  body main .introduce .text-anime {
    font-size: 2rem;
  }
}
body main .introduce .text-anime.active {
  opacity: 1;
  transform: translateY(-45%) translateX(-50%);
  transition: opacity 1.5s, transform 0.8s;
}
body main .swiper {
  margin-bottom: 100px;
}
@media only screen and (max-width: 480px) {
  body main .swiper {
    margin-top: 40px;
  }
}
body main .swiper .swiper-slide {
  height: 500px;
  width: 100%;
  transition-timing-function: ease-in-out;
}
body main .swiper .swiper-slide .float-1 {
  width: 80%;
  margin: auto;
  box-shadow: 30px 30px 30px rgb(91, 91, 91);
  background: white;
}
@media only screen and (max-width: 480px) {
  body main .swiper .swiper-slide .float-1 {
    width: 95%;
  }
}
body main .swiper .swiper-slide .float-1 a {
  text-decoration: none;
  color: black;
}
body main .swiper .swiper-slide .float-1 img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .swiper .swiper-slide .float-1 h2 {
  font-size: 2.5rem;
  text-align: center;
}
body main .swiper .swiper-slide .float-1 p {
  font-size: 1.2rem;
  width: 100%;
  padding: 20px 20px;
  margin: auto;
  text-align: center;
}
body main .swiper .slide-invisible {
  opacity: 0;
  transition: opacity 0.5s ease;
}
body main .swiper .swiper-slide-active img {
  transform: scale(1);
}
body main .swiper .swiper-button-prev {
  color: gainsboro;
}
body main .swiper .swiper-button-next {
  color: gainsboro;
}
body main footer {
  height: 300px;
  border-top: 1px solid gainsboro;
  position: relative;
  display: flex;
  z-index: 200;
  background: white;
}
@media only screen and (max-width: 480px) {
  body main footer {
    flex-direction: column;
    height: 500px;
  }
}
body main footer .icons {
  margin: auto;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 480px) {
  body main footer .icons {
    margin-top: 10px;
  }
}
body main footer .icons .logo {
  width: 220px;
  height: 65px;
  border: none;
  margin: auto;
  margin-bottom: 10px;
}
body main footer .icons a {
  margin: auto;
}
body main footer .icons a .icon {
  width: 40px;
  height: 40px;
  border: none;
  margin: 0 auto;
  margin-bottom: 20px;
}
body main footer .icons p {
  font-size: 1rem;
  text-align: center;
}
body main footer ul {
  margin: auto;
  display: flex;
}
@media only screen and (max-width: 480px) {
  body main footer ul {
    flex-direction: column;
    margin-top: -30px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  body main footer ul {
    flex-direction: column;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  body main footer ul {
    flex-direction: column;
  }
}
body main footer ul li {
  list-style: none;
  padding: 0 30px;
}
@media only screen and (max-width: 480px) {
  body main footer ul li {
    padding: 5px 0;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
  body main footer ul li {
    padding: 5px 0;
  }
}
body main footer ul li a {
  text-decoration: none;
  color: rgb(3, 148, 3);
  font-size: 1.3rem;
}
body main footer ul li a:hover {
  color: gainsboro;
}
body main footer .copy-right {
  font-size: 1.5rem;
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
}/*# sourceMappingURL=style.css.map */